@model Product
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Home" asp-action="Edit" method="post" anctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <!--Hangi ürünü güncellediğini yaz -->
    <input type="hidden" asp-for="ProductId">
    <div class="mb-3">
        <!-- <label for="Name" class="form-label">Name</label> -->
        <label asp-for="Name" class="form-label"></label>
        <!-- <input type="text" name="Name" id="Name" class="form-control"> -->
        <input asp-for="Name" class="form-control"> 
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price"></span>

    </div>
    
    <div class="input-group mb-3">
        <img src="~/image/@Model.Image" alt="" style="width: 100px;">
        <input type="hidden" asp-for="@Model.Image">
    </div>
    <div>
        <input type="file" name="imageFile" id="imageFile" class="form-control">

    </div>
    
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select  asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
           <option value="">Hepsi</option>
        </select>
        <span asp-validation-for="CategoryId"></span>

    </div>
    <div class="mb-3 form-check">
        <input asp-for="IsActive" class="form-check-input">
        <label asp-for="IsActive" class="form-check-label" ></label>
        <span asp-validation-for="IsActive"></span>

    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>


<!-- “multipart/form-data” kullanmak için, HTML formunuzun enctype özelliğini “multipart/form-data” olarak ayarlamanız gerekir. Bu, formunuzda bir <input type="file"> öğesi bulunduğunda ve dosya yüklemesi yapmak istediğinizde önemlidir.
 "multipart/form-data", bir formun dosya içeriği gibi ikili verilerin yüklenmesini gerektirdiğinde kullanılan bir MIME türüdür. Bu tür, özellikle dosya yüklemeleri için kullanılır ve form verilerini birden fazla parçaya ayırarak sunucuya gönderir.
  -->