@{
  ViewBag.Title="Toplantıya katılım Listesi";
}

<h1 class="h4">Toplantıya katılım Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad Soyad</td>
            <td>Katılım Durumu</td>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Deniz Alan</td>
        <td>Evet</td>
        <td>
            <a class="btn btn-primary btn-sm" href="#">Detay</a>
        </td>
      </tr>
      <tr>
        <td>Hacer Yıldırım</td>
        <td>Evet</td>
        <td>
            <a class="btn btn-primary btn-sm"  href="#">Detay</a>
        </td>
      </tr>
    </tbody>
</table>